# Vivado 생성 폴더들 무시
.Xil/
4bit-Processor-FPGA.cache/
4bit-Processor-FPGA.hw/
4bit-Processor-FPGA.ip_user_files/
4bit-Processor-FPGA.runs/
4bit-Processor-FPGA.sim/

# Vivado 생성 파일들 무시
*.xpr
*.jou
*.log
*.wcfg

# XDC 파일은 추적
!Zybo-Z7-Master.xdc

# 4bit-Processor-FPGA.srcs 폴더는 유지하되, 내부에서 sources_1과 sim_1만 추적
4bit-Processor-FPGA.srcs/*
!4bit-Processor-FPGA.srcs/sources_1/
!4bit-Processor-FPGA.srcs/sources_1/**
!4bit-Processor-FPGA.srcs/sim_1/
!4bit-Processor-FPGA.srcs/sim_1/**